@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  .font-grown {
    font-family: var(--font-grown);
  }
  .font-montserrat {
    font-family: var(--font-montserrat);
  }
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
