@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  .font-grown {
    font-family: var(--font-grown);
  }
  .font-montserrat {
    font-family: var(--font-montserrat);
  }
}
